body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: #222;
    z-index: 10;
    min-height: 3em;
    text-align: center;
    width:100%;
    font-size: 1.2rem;
    color: white;
}

    nav ul, nav form {
        display:inline-block;
    }

    nav li {
        display:inline;
        padding: 1em;
    }

    nav a{
        text-decoration: none;
        color: white;
    }

    nav a:hover{
        color: #9c9c9c;
    }

body > div {
    padding: 1rem;
}

form.login
{
    text-align:center;
} 

fieldset {
    border: none;
    display: inline-block;
    text-align:left;
}

fieldset label {
    display:block;
}

fieldset button {
    margin: 1em 0 0 0;
    padding: .3em;
    width:100%;
    text-align: center;
    font-size: 1em;
}
