<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Test Asp Site</title>
        <link rel="stylesheet" href="~/css/Main.css" />
    </head>
    <body>
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
            </ul>
            @await Html.PartialAsync("_LoginPartial")
        </nav>
        <div id="content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2015 - TestAspSite</p>
            </footer>
        </div>
    </body>
</html>
